.wrapper1 {
    width: 520px;
    height: auto;
    background-color: slateblue;
    color: #fff;
    border-radius: 10px;
    align-items: center;
    padding: 20px 0;
}

.wrapper1 h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper1 .input-box {
    position: relative;
    width:  95%;
    height: 50px;
    margin: 20px 20px;
    
}

.input-box input, .input-box select {
    width: 95%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0px 45px 0px 20px;
}

.input-box input::placeholder, .input-box select::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 37px;
    top: 50%;
    transform: translateY(-50%);
}

.input-box select {
    padding: 10px 20px;
    margin-top: 10px;
    appearance: none; /* Removes default arrow */
}

.input-box select option {
    background-color: slateblue;
    color: #fff;
}

/* Labels */
.wrapper1 label {
    margin-right: 10px;
    font-size: 16px;
    color: #fff;
}

.wrapper1 button {
    width: 90%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 50px;
    margin: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 10, .10);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.wrapper1 .register-link {
    font-size: 14.5px;
    text-align: center;
    /* margin-top: 7px; */
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}